[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
foconutil = {git = "https://github.com/shizmob/focon-util.git"}
crcmod = "*"
pyserial = "*"
sshkeyboard = "*"

[dev-packages]

[requires]
python_version = "3.13"
